# Node modules
node_modules/
**/node_modules/

# Frontend build
php/frontend/.vite/

# Local uploads / logs / caches
uploads/
logs/
.mysql/
.mysql_data/
.phpunit.result.cache

# Backups
.backups/

# OS files
.DS_Store
Thumbs.db

# Env
.env

# IDE
.vscode/

# Ignore npm debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# qrcode
tools/
qrcode/

# Local MySQL data and scripts
mysql/
mysql-files/

# Docker assets
Dockerfile
DockerFile
docker-compose.yml
docker-entrypoint.sh
docker/

import_run.ps1
machines_output.json
package-lock.json
package.json
readme.md
test_item_public.json
cookies.txt

qweqwe/