ACCESS_TOKEN=BRLFWPpKhfSQYlkQLSNjRF4F34I+8vzIX/iYpx4juIBEoR5rz2NmZSIDH6vDMTnbdKI3KTLp4T8Ocg0rbV0dsA9c+kfPlBa5yHR4Qhr8rbVRpttzwGrHiWkR4oPKFL4e3kwAhEDDjaV70T0RI4WiLAdB04t89/1O/w1cDnyilFU=
CHANNEL_SECRET=0c256a7da3f05f1551e4139aecce2776
DEFAULT_PRICE_PER_LITER=34.5
DAILY_FORM_URL=https://forms.gle/your-oil-log-form
